/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('./assets/heroS.jpg'); /* Add your image path here */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.App {
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 1200px;
}

nav {
  background: green;
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.signup, .login, .resume-uploader,.about-us {
  background: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

/* Job List Styles */
.job-list {
  margin: 20px auto;
  max-width: 800px;
}

.job-card {
  /*background: white;*/
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.job-card h3 {
  margin-top: 0;
}

.job-card p {
  margin: 10px 0;
}

.view-details {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.view-details:hover {
  background: #0056b3;
}
/* App.css */
.apply-for-job {
  background: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.apply-for-job h1 {
  margin-top: 0;
}

.apply-for-job textarea {
  height: 150px;
  resize: vertical;
}

.apply-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.apply-button:hover {
  background: #0056b3;
}